{% extends 'main/base.html' %}

{% block extra_css %}
    <link href="/static/css/all_posts.css" rel="stylesheet">

{% endblock %}

{% block title %}
all posts page
{%endblock%}

{% block content%}
<h1 class="first-massage">
you can browse all posts here</h1>
<div class="containerposts">
{% for post in posts %}

    <div class="all-posts">
        <a href="{% url 'main:post_detail_view' post.id %}" ><h4 class="postitle">{{ post.title }}</h4></a>
        <br>
      <img src="{{post.image.url}}" width="50%">
        <br>
   {{post.published_at}}
    </div>
    {% endfor%}

    </div>
{%endblock%}