{% extends 'main/base.html' %}

<!-- Title -->
{% block title %}Create Bolg{% endblock %}

<!-- Content -->
{% block content %}
<div class="container">
  <h1>Create Post</h1>
  <form class="create-form" action="{% url 'main:create' %}" enctype="multipart/form-data" method="post">
    {% csrf_token %}
    <input type="text" name="title" required placeholder="Title">
    <textarea required name="content" placeholder="Content"></textarea>
    <label>Is Published</label>
    <select name="is_published">
      <option value="">Choose</option>
      <option value="True">Yes</option>
      <option value="False">No</option>
    </select>
    <label>Published Date</label>
    <input type="date" name="published_at">
    <input type="file" name="post" required>
    <input type="submit"  value="Create">
  </form>
</div>
{% endblock %}