{% extends 'main/base.html' %}

<!-- Title -->
{% block title %}Detail{% endblock %}

<!-- Content -->
<!-- <h1>{{post.title}}</h1> -->
{% block content %}
<section class="detail-sec">
  <div class="container">
    <h1>{{post.title}}</h1>
    <div class="box">
      <img src="{{post.post.url}}" alt="Not Found">
      <div class="info">
        <p>{{post.content}}</p>
        <span>Published: {{post.is_published}}</span>
        <span>published At: {{post.published_at}}</span>
      </div>
      <a href="{% url 'main:modify' post.id %}">Modify</a>
      <a href="{% url 'main:delete' post.id %}">Delete</a>
    </div>
  </div>
</section>
{% endblock %}