{% extends 'main/base.html' %}

{% block title %} Blooger {% endblock %}

{% block content %}
<div class="container-fluid py-4 pr-5 bg-light">
    <div class="new-blog d-flex flex-row justify-content-end align-items-center list-unstyled gap-2">
            <span class="material-symbols-outlined">
                add_circle
            </span> 
            <a class="nav-link" href="{%url 'blogs:create_blog_view'%}">New Blog</a>
        </div>
</div>


<div class="col m-5">

  {% for blog in blogs %}
        
    <div class="row row-cols-1 row-cols-md-2 d-flex flex-row justify-content-start align-items-start h-100 p-4 shadow gap-2">
        <img src="{{blog.poster.url}}" class="poster"/>
        <div class="d-flex flex-column justify-content-start align-items-start">
            
            <div class="d-flex flex-row justify-content-start align-items-center gap-2">
                {% if blog.is_published %}
                <span class="material-symbols-outlined published">
                    new_releases
                </span>
                {% else %}
                <span class="material-symbols-outlined un-published">
                    dangerous
                </span>
                {% endif %}
                <a class="blog-title" href="{% url 'blogs:blog_detail_view' blog.id %}"><h1>{{blog.title}}</h1></a>

            </div>
          
            <h6 class="p-2">{{blog.published_at}}</h6>

            <h5 class="content p-2">{{blog.content}}</h5>

        </div>
  
    </div>
  {% endfor %}
</div>




{% endblock %}