{% extends 'main/base.html' %}
{%block title%}x {%endblock%}
{% block content %}
<section class="post_input">
    <form class="form_input" action="{%url 'main:post_view'%}" method="post"> 
        {% csrf_token %}
        <h2>* Title</h2>
        <input type="text" name="title" placeholder="title" aria-label="title" aria-describedby="basic-addon1" required>
        <h2>* Content</h2>
        <textarea class="form-control" name="content" aria-label="With textarea" placeholder="content" required></textarea>

        <h2>  Is published</h2>
        <label><input type="radio" name="is_published" value=True /> Yes</label>
        <label><input type="radio" name="is_published" value=False  /> No</label>
        <label><input type="radio" name="is_published" value="" /> None</label>
        <h2>  published at</h2>
        <input type="datetime-local" id="published_at" name="published_at">
        <button>post</button>




    </form>
</section>
{% endblock %}
