{% extends 'main/base.html' %}

{% block title %}
Search
{% endblock %}

{% block search %}
<form action="{% url 'main:search' %}" method="get" class="search">
  <input type="search" name="search">
</form>
{% endblock %}

{% block content %}
<section class="posts-sec">
  <div class="container">
    <div class="sub-head">
      <h1>Results</h1>
    </div>
    {% if posts %}
    <div class="grid">
      {% for post in posts %}
      <div class="box">
        <img src="{{post.post.url}}" alt="Not Found">
        <div class="info">
          <a href="{% url 'main:detail' post.id %} "><h3>{{post.title}}</h3></a>
          <span>Published: {% if post.is_published == 1 %} Yes {% else %} No {% endif %}</span>
          <span>published At: {{post.published_at}}</span>
        </div>
      </div>
      {% endfor %}
    </div>
    {% else %}
    <div class="no-result">
      There is no result for '{{request.GET.search}}'
    </div>
    {% endif %}
  </div>
</section>

{% endblock %}