{% extends 'blog/base.html' %}
{% load static %}

{% block background_image %}{% static 'blog/images/skyscraper.jpeg' %}{% endblock %}

{% block content %}
<h1>Latest Posts</h1>
{% for post in posts %}
    <div class="card mb-4">
        <div class="card-body">
            <h2 class="card-title">{{ post.title }}</h2>
            <p class="card-text">{{ post.content }}</p>
            <p class="text-muted">Published on: {{ post.published_at }}</p>
        </div>
    </div>
{% endfor %}
{% endblock %}