{% extends 'blog/base.html' %}

{% block content %}
    <h1>Add a New Post</h1>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <label>Title:</label>
        <input type="text" name="title" required>

        <label>Content:</label>
        <textarea name="content" required></textarea>

        <label>Image:</label>
        <input type="file" name="image">

        <div class="button-container">
            <button type="submit" class="new-post-btn">+ New Post</button>
        </div>
    </form>
{% endblock %}