{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    
    <title>home</title>
</head>
<body>
    <div class="main-div">  
        <nav class="center-nav">
            <strong class="logo">Bloogs</strong>
            <div class="nav">
                <a href="/post/">Publish your first Bloog</a>              
            </div>
        </nav>
    </div>
{% block content %}

</body>
</html>
{% endblock %}